<div id="about" class="mx-auto max-w-2xl sm:px-6 sm:py-24 lg:max-w-7xl max-lg:flex-col flex flex-row items-center justify-center">
    
    <div class="flex flex-col items-center justify-center ml-10 mr-10 text-lg">

        <h2 class="text-2xl font-bold text-gray-900 mb-10">Acerca de nosotros</h2>

        <p>En TechHorizon, somos apasionados por la tecnología y estamos comprometidos en ofrecer los mejores
            productos del sector para entusiastas, profesionales y empresas. Nuestro objetivo es brindar una experiencia
            de
            compra innovadora, segura y eficiente, proporcionando soluciones tecnológicas de última generación. </p><br>

        <p>Desde nuestra fundación, hemos trabajado para convertirnos en un referente en el mundo del Ecommerce tech,
            ofreciendo una amplia gama de productos que incluyen hardware, software, accesorios y equipos de alto
            rendimiento. Nos asociamos con las mejores marcas del mercado para garantizar calidad y confiabilidad en
            cada
            compra. </p><br>

        <p> Nuestro compromiso va más allá de vender productos; nos esforzamos por proporcionar un servicio excepcional,
            asesoramiento especializado y una comunidad donde los amantes de la tecnología puedan compartir
            conocimientos y
            experiencias. Con envíos rápidos, soporte técnico y opciones de pago seguras, facilitamos el acceso a la
            mejor
            tecnología del mercado.</p>

    </div>

    <img src="img/logo2.PNG" class="size-96 rounded-md mt-10 mb-10">
</div>

