
<div id="products" class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Productos</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
       
        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/laptop-asus-rog-strix-g16.jpg" class=" w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Laptop ASUS ROG Strix G16
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y gris</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$1599.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="/img/macbook-air-m2.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  MacBook Air M2 (2023)
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$1199.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/monitor-lg-ultragear-27.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between b">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Monitor LG UltraGear 27
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y rojo</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$350.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/teclado-keychron-k8.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Teclado Mecánico Keychron K8
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y gris azulado</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$100.00</p>
          </div>
        </div>
        
        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/mouse-logitech-g-pro-x.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Mouse Logitech G Pro X Superlight
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Blanco</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$135.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/ssd-samsung-990-pro.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  SSD M.2 Samsung 990 Pro 2TB
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$149.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/tarjeta-grafica-rtx-4070-ti.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Tarjeta Gráfica RTX 4070 Ti
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y Gris</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$799.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/audifonos-sony-wh-1000xm5.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Audífonos Sony WH-1000XM5
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Azul de prusia</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$349.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out ">
          <img src="img/silla-gamer-secretlab-titan.jpg" class="w-full p-10 rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Silla Gamer Secretlab Titan EVO
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y morado</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$499.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/smartwatch-apple-watch-9.jpg" class=" w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Smartwatch Apple Watch Series 9
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Azul cielo</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$399.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/tablet-samsung-galaxy-tab-s9.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Tablet Samsung Galaxy Tab S9
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Gris</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$799.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/router-asus-rog-rapture.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Router ASUS ROG Rapture GT-AX11000
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$499.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/camara-gopro-hero-12.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Cámara GoPro Hero 12 Black
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$390.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/disco-duro-wd-black-5tb.jpg" class="w-full rounded-md p-8 bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Disco Duro Externo WD Black 5TB
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$159.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/cargador-inalambrico-anker.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Cargador Inalámbrico Anker 3 en 1
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$79.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/drone-dji-mini-3-pro.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Drone DJI Mini 3 Pro
              
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro y gris</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$749.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/consola-playstation-5.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Consola PlayStation 5
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Blanco</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$850.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/auriculares-razer-blackshark-v2.png" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Auriculares Razer BlackShark V2 Pro
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Blanco</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$179.00</p>
          </div>
        </div>

        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/microfono-hyperx-quadcast-s.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  microfono hyperx quadcast S
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$159.00</p>
          </div>
        </div>


        <div class="relative border p-2 rounded-sm cursor-pointer hover:scale-105 duration-300 ease-in-out">
          <img src="img/camara-logitech-brio-4k.jpg" class="w-full rounded-md bg-white object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  camara logitech brio 4k
                
              </h3>
              <p class="mt-1 text-sm text-gray-500">Negro</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$179.00</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  